
/*
CSS "POINTS" RULES FOR HIERARCHY

Inline styling:     1,0,0,0
ID value:           0,1,0,0
Class value:        0,0,1,0
Element reference:  0,0,0,1

https://css-tricks.com/specifics-on-css-specificity/

*/

/**********************************/
/* GENERAL */

html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/**********************************/

body {
    font-family: "Courier New", Courier, monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0;
}
.row {
    text-align: center;
    color: black;
    width: 100%;
}
.row a {
    color: black;
}

#header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
#header a {
    color: black;
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
}

#contact {
    background-color: #ffb6c1;
}
