/* GENERAL STYLING */

body {
    margin: 0px;
    font-family: "Courier New", Courier, monospace;
    background-color: lightcyan;
}
h1, h2, h3 {
    color: cornflowerblue;
}
p {
    font-family: "Courier New", Courier, monospace;
}
a {
    color: grey;
}


/* CLASS STYLING */

.container {
    padding-left: 60px;
    padding-right: 100px;
}

.top_bar, .footer {
    padding: 15px;
    background-color: lightgreen;
    text-transform: uppercase;
}
.top_bar p {
    font-size: 30px;
    position: relative;
    top: 15px;
    left: 50px;
    font-weight: bold;
}
.top_bar a, .footer a {
    color: black;
    font-size: 20px;
    padding: 10px;
}
.top_bar li, .footer li {
    display: inline;
}

.content {
}
.q_n_a {
}


/* ID STYLING */

#disclaimer {

}